{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_inner_container %}
    <div class="container">

        {% block layout_footer_custom_image_text %}
            <div class="custom-image-text-sections d-flex justify-content-center">
                <div class="custom-image-text-section">
                    {% if theme_config('sw-footer-image-one') %}
                        <img src="{{ theme_config('sw-footer-image-one') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-custom-image-main-img"/>
                    {% endif %}
                    {% if theme_config('sw-footer-text-one') %}
                        <div class="">{{ theme_config('sw-footer-text-one') |trans|striptags }}</div>
                    {% endif %}
                </div>
                <div class="custom-image-text-section">
                    {% if theme_config('sw-footer-image-two') %}
                        <img src="{{ theme_config('sw-footer-image-two') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-custom-image-main-img"/>
                    {% endif %}
                    {% if theme_config('sw-footer-text-two') %}
                        <div class="">{{ theme_config('sw-footer-text-two') |trans|striptags }}</div>
                    {% endif %}
                </div>
                <div class="custom-image-text-section">
                    {% if theme_config('sw-footer-image-three') %}
                        <img src="{{ theme_config('sw-footer-image-three') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-custom-image-main-img"/>
                    {% endif %}
                    {% if theme_config('sw-footer-text-three') %}
                        <div class="">{{ theme_config('sw-footer-text-three') |trans|striptags }}</div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block layout_footer_navigation %}
            <div
                    id="footerColumns"
                    class="row footer-columns"
                    {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-collapse-footer" is deprecated. Use "data-collapse-footer-columns" instead #}
                    {% if feature('v6.6.0.0') %}
                        data-collapse-footer-columns="true"
                    {% else %}
                        data-collapse-footer="true"
                    {% endif %}
                    role="list"
            >
                {% block footer_newsletter %}
                    <div class="col-md-3 footer-column js-footer-column">
                        <div class=" newsletter mt-5">
                            {% sw_include '@Storefront/storefront/component/footer/ict-theme-footer-newsletter.html.twig' with {
                                action: 'frontend.form.newsletter.register.handle',
                                submitText: 'newsletter.formSubmit'
                            }  %}
                        </div>
                    </div>
                {% endblock %}

                {% block footer_layout_try_it %}
                    <div class="col-md-3 text-center mt-5 try-it footer-column js-footer-column">
                        <div class="try-it-section">
                            <h3>{{ "footer.tryIt.tryItItext"|trans|sw_sanitize }}</h3>
                            <p>{{ "footer.tryIt.tryItDescription"|trans|sw_sanitize }}</p>
                        </div>
                    </div>
                {% endblock %}

                {% block layout_footer_navigation_columns %}
                    {% for root in page.footer.navigation.tree %}
                        {% block layout_footer_navigation_column %}
                            <div class="col-md-3 footer-column js-footer-column">
                                {% block layout_footer_navigation_information_headline %}
                                    <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                                         data-bs-target="#collapseFooterTitle{{ loop.index }}"
                                         aria-expanded="true"
                                         aria-controls="collapseFooter{{ loop.index }}">

                                        {% if root.category.type == 'folder' %}
                                            {{ root.category.translated.name }}
                                        {% else %}
                                            <a href="{{ category_url(root.category) }}"
                                               {% if category_linknewtab(root.category) %}target="_blank"{% endif %}
                                               title="{{ root.category.translated.name }}">
                                                {{ root.category.translated.name }}
                                            </a>
                                        {% endif %}
                                        {% block layout_footer_navigation_information_icons %}
                                            <div class="footer-column-toggle">
                                                <span class="footer-plus-icon">
                                                    {% sw_icon 'plus' %}
                                                </span>
                                                <span class="footer-minus-icon">
                                                    {% sw_icon 'minus' %}
                                                </span>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block layout_footer_navigation_information_content %}
                                    <div id="collapseFooter{{ loop.index }}"
                                         class="footer-column-content collapse js-footer-column-content"
                                         aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                        <div class="footer-column-content-inner">
                                            {% block layout_footer_navigation_information_links %}
                                                <ul class="list-unstyled">
                                                    {% for treeItem in root.children %}
                                                        {% set category = treeItem.category %}
                                                        {% set name = category.translated.name %}

                                                        {% block layout_footer_navigation_information_link_item %}
                                                            <li class="footer-link-item">
                                                                {% block layout_footer_navigation_information_link %}
                                                                    {% if category.type == 'folder' %}
                                                                        <div>{{ name }}</div>
                                                                    {% else %}
                                                                        <a class="footer-link"
                                                                           href="{{ category_url(category) }}"
                                                                           {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                                           title="{{ name }}">
                                                                            {{ name }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endblock %}
                                                            </li>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </ul>
                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block footer_layout_handler %}
                    <div class="col-md-3 text-center mt-5 handler-section">
                        <h3 class="handler-section-title-one">
                            {{ "footer.handler.handlerTitleOne"|trans|sw_sanitize }}
                        </h3>
                        <h3 class="handler-section-title-two">
                            {{ "footer.handler.handlerTitleTwo"|trans|sw_sanitize }}
                        </h3>
                        <p class="handler-section-description">
                            {{ "footer.handler.handlerTitleDescription"|trans|sw_sanitize }}
                        </p>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_payment_shipping_logos %}
            <div class="footer-logos">
                {% block layout_footer_payment_logos %}
                    {% for paymentMethod in page.salesChannelPaymentMethods %}
                        {% block layout_footer_payment_logo %}
                            {% if paymentMethod.media %}
                                <div class="footer-logo is-payment">
                                    {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                        media: paymentMethod.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'img-fluid footer-logo-image',
                                            'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                            'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                        }
                                    } %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block layout_footer_shipping_logos %}
                    {% for shippingMethod in page.salesChannelShippingMethods %}
                        {% block layout_footer_shipping_logo %}
                            {% if shippingMethod.media %}
                                <div class="footer-logo is-shipping">
                                    {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                        media: shippingMethod.media,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'img-fluid footer-logo-image',
                                            'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                            'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                        }
                                    } %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_logo_inner %}
            <div class="footer-logo-main text-center">
                {% block layout_footer_logo_link %}
                    <a class="footer-logo-main-link"
                       href="{{ path('frontend.home.page') }}"
                       title="{{ "header.logoLink"|trans|striptags }}">
                        {% block layout_footer_logo_image %}
                            <picture class="footer-logo-picture">
                                {% block layout_footer_logo_image_tablet %}
                                    {% if theme_config('sw-footer-logo-tablet') and theme_config('sw-logo-tablet') != theme_config('sw-logo-desktop') %}
                                        <source srcset="{{ theme_config('sw-footer-logo-tablet') |sw_encode_url }}"
                                                media="(min-width: {{ theme_config('breakpoint.md') }}px) and (max-width: {{ theme_config('breakpoint.lg') - 1 }}px)">
                                    {% endif %}
                                {% endblock %}

                                {% block layout_footer_logo_image_mobile %}
                                    {% if theme_config('sw-footer-logo-mobile') and theme_config('sw-logo-mobile') != theme_config('sw-logo-desktop') %}
                                        <source srcset="{{ theme_config('sw-footer-logo-mobile') |sw_encode_url }}"
                                                media="(max-width: {{ theme_config('breakpoint.md') - 1 }}px)">
                                    {% endif %}
                                {% endblock %}

                                {% block layout_footer_logo_image_default %}
                                    {% if theme_config('sw-footer-logo-desktop') %}
                                        <img src="{{ theme_config('sw-footer-logo-desktop') |sw_encode_url }}"
                                             alt="{{ "header.logoLink"|trans|striptags }}"
                                             class="img-fluid footer-logo-main-img"/>
                                    {% endif %}
                                {% endblock %}
                            </picture>
                        {% endblock %}
                    </a>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_navigation_hotline %}
            <div class="text-center footer-column js-footer-column mt-3">
                {% block layout_footer_navigation_hotline_headline %}

                {% endblock %}

                {% block layout_footer_navigation_hotline_content %}
                    <div id="collapseFooterHotline"
                         class="footer-column-content collapse js-footer-column-content footer-contact"
                         aria-labelledby="collapseFooterHotlineTitle">
                        <div class="footer-column-content-inner">
                            <div class="footer-contact-hotline d-flex justify-content-center    ">
                                <p> {{ "footer.hotline.hotlineOne"|trans|sw_sanitize }}</p>
                                <p> {{ "footer.hotline.hotlineTwo"|trans|sw_sanitize }}</p>
                                <p> {{ "footer.hotline.hotlineThree"|trans|sw_sanitize }}</p>
                            </div>
                            <div class="footer-contact-hotline-contact d-flex justify-content-center">
                                <p>{{ "footer.hotline.hotlineMobile"|trans|sw_sanitize }}</p>
                                <p>{{ "footer.hotline.hotlineEmail"|trans|sw_sanitize }}</p>
                            </div>
                            <div class="footer-contact-hotline-information">
                                <p>{{ "footer.hotline.hotlineOpeningInfo"|trans|sw_sanitize }}</p>
                                <p>{{ "footer.hotline.hotlineOpenTiming"|trans|sw_sanitize }}</p>
                            </div>
                        </div>
                        <div class="footer-contact-form">

                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_social_media_icon %}
            <div class="text-center social-icons footer-column js-footer-column mt-3">
                {% block layout_footer_whatsapp_logo_image_default %}
                    {% if theme_config('sw-social-whats-app-logo') %}
                        <img src="{{ theme_config('sw-social-whats-app-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img w-40"/>
                    {% endif %}
                {% endblock %}

                {% block layout_footer_facebook_logo_image_default %}
                    {% if theme_config('sw-social-face-book-logo') %}
                        <img src="{{ theme_config('sw-social-face-book-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img"/>
                    {% endif %}
                {% endblock %}

                {% block layout_footer_tiktok_logo_image_default %}
                    {% if theme_config('sw-social-tik-tok-logo') %}
                        <img src="{{ theme_config('sw-social-tik-tok-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img"/>
                    {% endif %}
                {% endblock %}

                {% block layout_footer_youtube_logo_image_default %}
                    {% if theme_config('sw-social-youtube-logo') %}
                        <img src="{{ theme_config('sw-social-youtube-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img"/>
                    {% endif %}
                {% endblock %}

                {% block layout_footer_intsagram_logo_image_default %}
                    {% if theme_config('sw-social-instagram-logo') %}
                        <img src="{{ theme_config('sw-social-instagram-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img"/>
                    {% endif %}
                {% endblock %}

                {% block layout_footer_linkedin_logo_image_default %}
                    {% if theme_config('sw-social-linkedin-logo') %}
                        <img src="{{ theme_config('sw-social-linkedin-logo') |sw_encode_url }}"
                             alt="{{ "header.logoLink"|trans|striptags }}"
                             class="img-fluid footer-logo-main-img"/>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        {% apply spaceless %}
                            <ul class="footer-service-menu-list list-unstyled">
                                {% for serviceMenuItem in page.header.serviceMenu %}
                                    {% block layout_footer_service_menu_item %}
                                        <li class="footer-service-menu-item">
                                            <a class="footer-service-menu-link"
                                               href="{{ category_url(serviceMenuItem) }}"
                                               {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                               title="{{ serviceMenuItem.translated.name }}">
                                                {{ serviceMenuItem.translated.name }}
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endfor %}
                            </ul>
                        {% endapply %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_vat %}
                {# to hod ethe footer vat section #}
            {% endblock %}

            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    {% if theme_config('sw-copyright-text') %}
                        <div class="footer-copyright-custom">
                            {{ theme_config('sw-copyright-text')|trans|sw_sanitize }}
                        </div>
                    {% else %}
                        {% sw_icon 'shopware' style {'size':'xs'} %}
                        {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
