{% block layout_footer_social_media_icon %}
    <div class="text-center social-icons footer-column js-footer-column mt-3">
        {% block layout_footer_whatsapp_logo_image_default %}
            {% if theme_config('sw-social-whats-app-logo') %}
                <a href="{{ theme_config('sw-social-whats-app-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Whats App">
                    {% sw_icon 'whatsapp' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_facebook_logo_image_default %}
            {% if theme_config('sw-social-face-book-logo') %}
                <a href="{{ theme_config('sw-social-face-book-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Facebook">
                    {% sw_icon 'facebook' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_tiktok_logo_image_default %}
            {% if theme_config('sw-social-tik-tok-logo') %}
                <a href="{{ theme_config('sw-social-tik-tok-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Tiktok">
                    {% sw_icon 'tiktok' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_youtube_logo_image_default %}
            {% if theme_config('sw-social-youtube-logo') %}
                <a href="{{ theme_config('sw-social-youtube-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Tiktok">
                    {% sw_icon 'youtube' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_intsagram_logo_image_default %}
            {% if theme_config('sw-social-instagram-logo') %}
                <a href="{{ theme_config('sw-social-youtube-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Instagram">
                    {% sw_icon 'instagram' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_linkedin_logo_image_default %}
            {% if theme_config('sw-social-linkedin-logo') %}
                <a href="{{ theme_config('sw-social-linkedin-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'linkedin' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_pinterest_logo_image_default %}
            {% if theme_config('sw-social-Pinterest-logo') %}
                <a href="{{ theme_config('sw-social-Pinterest-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="Pinterest">
                    {% sw_icon 'pinterest' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_amazon_logo_image_default %}
            {% if theme_config('sw-social-Amazon-logo') %}
                <a href="{{ theme_config('sw-social-Amazon-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'amazon' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_vimo_logo_image_default %}
            {% if theme_config('sw-social-Vimeo-logo') %}
                <a href="{{ theme_config('sw-social-Vimeo-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'vimeo' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_flickr_logo_image_default %}
            {% if theme_config('sw-social-flickr-logo') %}
                <a href="{{ theme_config('sw-social-flickr-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'flickr' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_xing_logo_image_default %}
            {% if theme_config('sw-social-xing-logo') %}
                <a href="{{ theme_config('sw-social-xing-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'xing' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}

        {% block layout_footer_twitter_logo_image_default %}
            {% if theme_config('sw-social-twitter-logo') %}
                <a href="{{ theme_config('sw-social-twitter-logo') }}"
                   class="social-icon"
                   target="_blank" rel="noopener"
                   aria-label="LinkedIn">
                    {% sw_icon 'twitter' style {'pack': 'ict'} %}
                </a>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}