{% block element_ict_about_title_text_image %}
    {% set config = element.fieldConfig.elements %}
    {% set active = element.fieldConfig.elements.position.value %}
    {% set elementForBgConfig = element.fieldConfig.elements %}
    {% set titleMedia = elementForBgConfig.titleMedia.value %}
    {% if titleMedia != null %}
        {% set mediaCollection = searchMedia([titleMedia], context.context) %}
        {% set titleMedia = mediaCollection.get(titleMedia) %}
    {% endif %}
    <div class="cms-element-ict-about-title-text-image">
        <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
            <div class="about-title-text-image-container">
                {% block element_about_title_text %}
                    <div class="text-image">
                        {% block element_text %}

                            <div class="cms-element-text-container">
                                <h1> {{ config.title.value }}</h1>
                                {% if titleMedia %}
                                    <img src="{{ titleMedia.url }}">
                                {% endif %}
                                {{config.content.value|raw }}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block element_about_image %}
                    {% block element_image %}
                            {% block element_product_slider_alignment %}
                                {% if config.verticalAlign.value %}
                                    <div class="cms-element-alignment{% if config.verticalAlign.value == 'center' %} align-self-center{% elseif config.verticalAlign.value == 'flex-end' %} align-self-end{% else %} align-self-start{% endif %} {{ active }}">
                                {% endif %}
                                {% block element_image_inner %}
                                    {% set imageElement %}
                                        {% block element_image_container %}
                                            {% if element.data.aboutMedia.media.url %}
                                                <div class="cms-image-container is-{{ element.translated.config.displayMode.value }}"
                                                        {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == 'cover' %} style="   min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                                                    {% block element_image_media %}
                                                        {% set attributes = {
                                                            'class': 'cms-image',
                                                            'alt': (element.data.aboutMedia.translated.alt ?: ''),
                                                            'title': (element.data.aboutMedia.translated.title ?: ''),
                                                            'loading': 'lazy'
                                                        } %}

                                                        {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                                            {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                                        {% endif %}

                                                        {% sw_thumbnails 'cms-image-thumbnails' with {
                                                            media: element.data.aboutMedia.media
                                                        } %}
                                                    {% endblock %}
                                                </div>
                                            {% endif %}
                                        {% endblock %}
                                    {% endset %}
                                    {{ imageElement }}
                                {% endblock %}
                                {% if config.verticalAlign.value %}
                                    </div>
                                {% endif %}
                            {% endblock %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}