{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}
{% block layout_header_navigation %}
    <div class="row align-items-center header-row justify-content-between m-auto position-relative">

        {% block layout_header_logo %}
            <div class="col-12 col-lg-auto header-logo-col w-auto">
                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
            </div>
        {% endblock %}

        {% block layout_header_search %}
        {% endblock %}

        {% block layout_header_actions %}
            <div class="col-12 order-1 col-sm-auto order-sm-2 p-0 header-actions-col ">
                <div class="row g-0">
                </div>
                <div class="row g-0">
                    {% block layout_header_navigation_toggle %}
                        <div class="col d-lg-none order-1 flex-grow-0">
                            <div class="menu-button ">
                                {% block layout_header_navigation_toggle_button %}
                                    <button
                                            class="btn nav-main-toggle-btn header-actions-btn"
                                            type="button"
                                            {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-offcanvas-menu" is deprecated. Use "data-off-canvas-menu" instead #}
                                            {% if feature('v6.6.0.0') %}
                                                data-off-canvas-menu="true"
                                            {% else %}
                                                data-offcanvas-menu="true"
                                            {% endif %}
                                            aria-label="{{ "general.menuLink"|trans|striptags }}"
                                    >
                                        {% block layout_header_navigation_toggle_button_icon %}
                                            {% sw_icon 'theme_menu' style {'pack': 'ict'} %}
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block layout_header_search_toggle %}
                        <div class="ict-custom-theme d-flex">
                            {% block layout_header_top_bar_language %}
                                {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
                            {% endblock %}

                            <div class="col-auto order-2 flex-grow-1">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            id="closeToggle"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                        {% sw_icon 'search' %}
                                    </button>
                                    <div class="collapse"
                                         id="searchCollapse">
                                        <div class="header-search">
                                            <form action="{{ path('frontend.search.page') }}"
                                                  method="get"
                                                    {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-search-form" is deprecated. Use "data-search-widget" instead #}
                                                    {% if feature('v6.6.0.0') %}
                                                        data-search-widget="true"
                                                    {% else %}
                                                        data-search-form="true"
                                                    {% endif %}
                                                  data-search-widget-options='{{ searchWidgetOptions|json_encode }}'
                                                  data-url="{{ path('frontend.search.suggest') }}?search="
                                                  class="header-search-form">
                                                {% block layout_header_search_input_group %}
                                                    <div class="input-group">
                                                        {% block layout_header_search_input %}
                                                            <input type="search"
                                                                   name="search"
                                                                   id="ict-search-bar"
                                                                   class="form-control header-search-input"
                                                                   autocomplete="off"
                                                                   autocapitalize="off"
                                                                   placeholder="{{ "header.searchPlaceholder"|trans|striptags }}"
                                                                   aria-label="{{ "header.searchPlaceholder"|trans|striptags }}"
                                                                   value="{{ page.searchTerm }}"
                                                            >
                                                        {% endblock %}
                                                        {% block layout_header_search_button %}
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if config('core.cart.wishlistEnabled') %}
                                {% block layout_header_actions_wishlist %}

                                    <div class="col-auto order-4">
                                        <div class="header-wishlist">
                                            <a class="btn header-wishlist-btn header-actions-btn"
                                               href="{{ path('frontend.wishlist.page') }}"
                                               title="{{ 'header.wishlist'|trans|striptags }}"
                                               aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                                {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                            </a>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}

                            {% block layout_header_actions_account %}
                                <div class="col-auto order-3">
                                    <div class="account-menu">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                    </div>
                                </div>
                            {% endblock %}

                            {% block layout_header_actions_cart %}
                                <div class="col-auto order-4">
                                    <div
                                            class="header-cart"
                                            {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-offcanvas-cart" is deprecated. Use "data-off-canvas-cart" instead #}
                                            {% if feature('v6.6.0.0') %}
                                                data-off-canvas-cart="true"
                                            {% else %}
                                                data-offcanvas-cart="true"
                                            {% endif %}
                                    >
                                        <a class="btn header-cart-btn header-actions-btn"
                                           href="{{ path('frontend.checkout.cart.page') }}"
                                           data-cart-widget="true"
                                           title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                           aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
